.MainMenu{
    max-width: 700px;
}
.MainMenu h2{
    width: 40%;
}
.MainMenu--nav{
    border: 1px solid transparent;
    background: #cccccc ;
    width: 30%;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    color: black;

}
.MainMenu--header{
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.MainMenu--contacts{

    padding: 10px;
}