.NewContact{
    max-width: 700px;
    padding: 30px;

}
.NewContact input{
    width: 80%;
    font-size: 23px;
    margin: 0 auto 10px;

}
.NewContact img{
   border: 1px solid black;
    display: block;
    height: 150px;
    width: 150px;
    background-image: url("../../content/images/unknown/man-icon.png");
    background-size: cover;
}
.NewContact--buttons{
margin-top: 20px}
.NewContact--buttons button{
    padding: 10px;
    margin: 5px;
}