.Contact {
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.Contact img {
    display: block;
    vertical-align: middle;
    width: 30%;
}
.Contact h5{
    display: block;
    width: 68%;
    font-size: 25px;
    font-weight: 400;
}