.Editor>p{
    float: right;
    font-size: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    display: block;


}
.Editor--info{
    display: flex;
    justify-content: space-between;
}
.Editor--info img{
    height: 200px;
    width: 200px;
}
.Editor--info>div{
    width: 50%;
}
.Editor--info p{
    text-decoration: underline;
    color: cadetblue;
}